.bodyWrapper {
    margin: 100px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1408px;
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(5, 256px);
    justify-content: space-between;
}


.genderBtn {
    width: 180px;
    border: none;
    background-color: transparent;
}

.activeBtn::after {
    content: "";
  display: block;
  width: 88%;
  margin-inline: auto;
  height: 2px;
  background-color: #000;
  margin-top: 10px;
  transition: .5s;
}

.showMoreBtn {
    width: 400px;
}
.activeShowMoreBtn {
    visibility: hidden;
}

.bottom {
    margin-top: 100px;
}

.marketplaces {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 1400px) {
    .container {
      box-sizing: border-box;
      width: 95%;
      max-width: 1160px;
      grid-template-columns: repeat(4, 256px);
      margin-inline: auto;
    }
  }
  
  /* Адаптивные стили для экранов с максимальной шириной 1150px */
  @media (max-width: 1200px) {
    .container {
      width: 87%;
      max-width: 880px;
      margin-inline: auto;
      grid-template-columns: repeat(3, 256px);
    }
  }
  
  /* Адаптивные стили для экранов с максимальной шириной 992px */
  @media (max-width: 992px) {
    .container {
      width: clamp(740px, 87%, 880px);
      margin-inline: auto;
      grid-template-columns: repeat(3, 230px);
    }
  
    .topic {
      text-align: center;
    }

    .marketplaces {
        width: 460px;
        flex-wrap: wrap;
        gap: 40px;
    }
  }
  
  /* Адаптивные стили для экранов с максимальной шириной 768px */
  @media (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 230px);
      width: clamp(480px, 80%, 530px);
    }
  }
  
  
  /* Адаптивные стили для экранов с максимальной шириной 480px */
  @media (max-width: 480px) {
    .container {
      width: clamp(320px, 80%, 530px);
      grid-template-columns: repeat(1, 256px); /* Полная ширина для маленьких экранов */
      justify-content: center;
      padding: 0 10px; /* Добавляем отступы для маленьких экранов */
    }

    .genderBtn {
        width: 120px;
    }

    .marketplaces {
        width: 210px;
        margin-top: 20px;
    }
  }